body {
    font-family: "Unbounded", sans-serif;
    background-color: #EBFD7C;
    color: #424348;
}

button {
    font-family: "Unbounded", sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    padding: 10px 30px;
    filter: drop-shadow(3px 3px 0px #424348);
    border-color: #424348;
    border-radius: 5px;
    background-color: #FF7046;
    display: inline-block;
}

select {
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: "Unbounded", sans-serif;
    text-transform: uppercase;
    padding: 10px 10px;
    filter: drop-shadow(3px 3px 0px #424348);
    border-color: #424348;
    border-radius: 5px;
    display: inline-block;
    min-width: 500px;
    max-width: 600px;
}

textarea {
    font-family: "Unbounded", sans-serif;
    text-transform: uppercase;
    padding: 10px 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    filter: drop-shadow(3px 3px 0px #424348);
    border-color: #424348;
    border-radius: 5px;
    display: inline-block;
    min-width: 480px;
    max-width: 600px;
}

label {
    text-transform: uppercase;
    font-size: 75%;
}

#addons {
    font-family: "Unbounded", sans-serif;
    text-transform: uppercase;
    padding: 10px 10px;
    margin-top: 10px;
    margin-bottom: 0px;
    filter: drop-shadow(3px 3px 0px #424348);
    border-color: #424348;
    border-radius: 5px;
    display: inline-block;
    min-height: 20px;
    min-width: 20px;
}

#jugo-quantity {
    font-family: "Unbounded", sans-serif;
    text-transform: uppercase;
    padding: 10px 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    filter: drop-shadow(3px 3px 0px #424348);
    border-color: #424348;
    border-radius: 5px;
    display: inline-block;
    min-width: 480px;
    max-width: 600px;
}